 body{
            background-color: #1e1e1e;
            background-position: 50% 50%;
            background-repeat: repeat;
        }
        #Main {
            background-color: black;
            color: white;
        }
        #primarylinks {
            float: top;
            color: white;
            display: inline-block;
            width: max-content;
            background-color: black;
            color: white;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        #Fter{
            position: relative;
            background-color: black;
            display: inline-block;
            float: right;
            bottom: 10px;
        }
        #validator{
            position: relative;
            background-color: black;
            display: inline-block;
            float: left;
            bottom: 10px;
        }